<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper(yield :title)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/menu' %>
    <%= render 'shared/notices' %>
    <div class="main">
      <%= render 'shared/status' %>
      <%= yield %>
    </div>
    

    <%= javascript_pack_tag "global" %>
  </body>
</html>
